
* {
    font-family: Arial, sans-serif; 
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    color: white;
}

nav ul {
    list-style-type: none;
    font-size: 1.2em;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: gray;
}

.active {
    background-color: #4CAF50;
}

.header {
    height: 130px;
    width: 200%;           /* Set the height of the header */
    font-size: 1.2em;
    display: flex;
    line-height: auto;
    align-items: center;        /* Center vertically */
    justify-content: center;    /* Center horizontally */
    background-color: black;
}

.my-title {
    background-color: darkcyan;
    color: black;
    height: 45px;
    width: 200%;
    line-height: auto;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;      /* Two equal columns */
    grid-gap: 20px;                            /* Gap between grid items */
    padding: 20px;
}

.item {
    padding: 20px;
    border: 1px solid rgb(29, 29, 29);
}

.subtitle-left {
    font-size: 1.8em; 
    margin-bottom: -10%;
    background-image: linear-gradient(to right, rgb(101, 68, 197), rgb(204, 12, 70));
}

.subtitle-right {
    margin-bottom: -9%;
    font-size: 1.8em;  
    background-image: linear-gradient(to right, rgb(101, 68, 197), rgb(204, 12, 70));
}

.text-left {
    margin-top: 10%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: white;
    height: auto;
    line-height: 50px;
}

.image-right {
    max-width: 100%;
    height: auto; 
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    position: relative;
}

.text-right {
    margin-top: 9%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: white;
    height: auto;
    line-height: 50px;
}

.image-left {
    max-width: 100%;
    height: auto; 
    align-items: center;
    margin-top: 5%;
    position: relative;
}

.link-color {
    font-size: 1.0em;
    float: calc(10px);
}

footer {
    background-color: black;
    color: white;
    width: 1483px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2em;
}
.goggle-image {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.Github-image {
    width: 50px;
    height: 50px;
}

.discord-image {
    width: 50px;
    height: 40px;
    margin-left: 20px;
}

.image-golf {
    opacity: 30%;
    width: 100%;
    height: 100%;
}